@using HtmlHelpersExtensions.Models
@using HtmlHelpersExtensions.Helpers
@model SampleOrder
<h2 class="content-block">
    This project demonstrates how to reuse the same settings and write common configuration code in DevExtreme ASP.NET Components.
    Use the navigation menu at the right to test demonstrated solutions in actions.
</h2>


